# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: Build Image
on:
  push:
    branches: [main]
    paths-ignore: [".github/workflows/**"]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}-${{ inputs.brand_name}}-${{ inputs.stream_name }}
  cancel-in-progress: true

jobs:
  build-and-publish:
    name: Build and publish
    permissions:
      packages: write
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - run: sudo systemctl stop docker

      - name: Mount BTRFS for podman storage
        uses: ublue-os/container-storage-action@main
        with:
          target-dir: /var/lib/docker

      - run: sudo systemctl start docker

      - uses: earthly/actions/setup-earthly@v1
        with:
          version: v0.8.13

      - name: Cache Earthly Docker Volumes
        uses: actions/cache@v3
        with:
          path: /var/lib/docker/volumes/earthly-cache
          key: ${{ runner.os }}-earthly-volumes-${{ hashFiles('Earthfile') }}
          restore-keys: |
            ${{ runner.os }}-earthly-volumes-

      - name: Login to GitHub Container Registry
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build image
        run: earthly --ci --push +build

      - name: Fix earthly cache permissions
        run: sudo chmod 755 /var/lib/docker/volumes/earthly-cache
