# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: Build Image
on:
  push:
    branches: [main]
    paths-ignore: [".github/workflows/**"]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}-${{ inputs.brand_name}}-${{ inputs.stream_name }}
  cancel-in-progress: true

jobs:
  build-and-publish:
    name: Build and publish
    permissions:
      packages: write
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - run: sudo systemctl stop docker

      - name: Mount BTRFS for podman storage
        uses: ublue-os/container-storage-action@main
        with:
          target-dir: /var/lib/docker

      - run: sudo systemctl start docker

      - uses: earthly/actions/setup-earthly@v1
        with:
          version: v0.8.13

      - name: Compute Earthly cache key
        id: compute_cache_key
        run: echo "key=docker-volumes-v1-${{ hashFiles('Earthfile') }}" >>$GITHUB_OUTPUT

      - name: Restore Earthly Cache
        id: restore_cache
        uses: BYK/docker-volume-cache-action/restore@764a1ca3c597389fd2fcd392d7a6e4614a76a4c4
        with:
          key: ${{ steps.compute_cache_key.outputs.key }}
          restore-keys: |
            docker-volumes-v1-
          volumes: |
            earthly-cache

      - name: Login to GitHub Container Registry
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build image
        run: earthly --ci --push +build

      - name: Save Earthly Volume Cache
        if: steps.restore_cache.outputs.cache-hit != 'true'
        uses: BYK/docker-volume-cache-action/save@764a1ca3c597389fd2fcd392d7a6e4614a76a4c4
        with:
          key: ${{ steps.compute_cache_key.outputs.key }}
          volumes: |
            earthly-cache
